<html>
  <head>
    <title>Добро пожаловать в Ansible</title>
  </head>
  <body>
    <h1>Nginx настроен с помощью Ansible</h1>
    <p>Если вы видите эту страницу, значит, Ansible успешно установил Nginx.</p>
    <p>Запущен на {{ inventory_hostname }}</p>
  </body>
</html>
